legend{
font-size: 2rem;
}
    
fieldset{
    border: none;
    display: grid;

}

.description-text{

}

input{
    border-radius: 5px;
    padding: 8px;
}

button{
    background-color: brown;
}

button.yay{
    background-color: green;
}