/* ALGEMEEN: ALLE PAGINA'S */

body{
    margin: 0;
}

::selection {
    color: rgb(0, 174, 17);
}


/* INSCHRIJF FORMULIER */

fieldset{
    border: none;
    margin: auto;
}

legend{
font-size: 2rem;
text-align: center;
}

input{
    display:block;
    border-radius: 5px;
    padding: 8px;
    width: 75%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input:user-invalid {
    background: #faa;
}

button {
    width: 6rem;
    border-radius: 2rem;
    border: none;
    display: block;
    margin: auto;
    background-color: aquamarine;
    color: black;
    padding: 12px;
}

a{
    text-decoration: none;
}

/* a {
    width: 6rem;
    border-radius: 2rem;
    border: none;
    display: block;
    margin: auto;
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
} */



/* BEVESTEGING */

.harry{
    width: 15rem;
    display: block;
    margin: auto;
}


/* FONTS */

h1{
    text-align: center;
}

p{
    text-align: center;
}



/* INFORMATIE PAGINA */




main{

    p{
        text-align: left;
        max-width: 30rem;
        margin-bottom: 2.5rem;
    }

    h1{
        text-align: left;
    }
}

.informatie-stekjes{
    margin: 2rem;
}

.inschrijf-button{
    color: black;
    background-color: #faa;
    padding: 10px 16px 10px 16px;
    border-radius: 4rem
}

.img-infomatie{
    width: 100%;
    max-height: 18rem;
    width: 100%;
    object-fit: cover;
}
